@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }

body{
    background-color: #FAF7F0;
    color: #4A4947;
    height: 100%;
}

a{
    text-decoration: none;
}

a:visited{
    color: #4A4947;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Altura da tela */
}

.itens-pagina-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-pagina-inicial{
    font-size: 50px;
}

.texto-pagina-inicial{
    margin-top: 10px;
    font-size: 20px;
    width: 50%;
}

.itens-o-projeto, .itens-comp-supri, .itens-app-plataforma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-o-projeto, .titulo-comp-supri, .titulo-app-plataforma{
    font-size: 30px;
}

.descricao-o-projeto, .descricao-comp-supri, .descricao-app-plataforma{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.col-12 img{
    border-radius: 50%;
}

.col-12 h3{
    margin-top: 10px;
}

.dois{
    background-color: #3C3D37;
    color: #FAF7F0;
}

.dois a{
    color: #FAF7F0;
}

.container-fluid{
    height: 100vh;
}