@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
  }

body{
    background-color: #2d3250;
    color: #FFF7D1;
    height: 100%;
}

a{
    text-decoration: none;
    color: #FFF7D1;
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px 20px 0px 20px;
    background-color: transparent;

}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
}

nav a:hover{
    border-bottom: 2px solid #F9B17A;
    color: #F9B17A;
}

.download {
    background-color: #F9B17A;
    padding: 15px;
    border-radius: 40px;
}

.download:hover{
    background-color: #FFF7D1;
    border: none;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh; /* Altura da tela */
}

.itens-pagina-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-pagina-inicial{
    font-size: 50px;
}

.texto-pagina-inicial{
    margin-top: 10px;
    font-size: 20px;
    width: 50%;
}

.itens-o-projeto, .itens-comp-supri, .itens-app-plataforma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-o-projeto, .titulo-comp-supri, .titulo-app-plataforma{
    font-size: 30px;
}

.descricao-o-projeto, .descricao-comp-supri, .descricao-app-plataforma{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

